h1{
	font-weight: bold;
}

#portfolio form input[type=file]{
	display: inline;
}
#portfolio form input[type=text]{
	margin-bottom: 10px;
}
#portfolio form label{
	margin-bottom: 5px;
}

#content form{
	/*margin-bottom: 15px;*/
}
	#content form input{
		margin-bottom: 15px;
	}
	#content textarea{
		margin-bottom: 15px;
	}

.thumbnail .btn{
	margin-right: 5px;
	margin-bottom: 5px;
}

.logout{
	margin-bottom: 15px;
	display: block;
}

