h1{
	font-weight: bold;
}

form input[type=file]{
	display: inline;
}
form input[type=text]{
	margin-bottom: 10px;
}
form label{
	margin-bottom: 5px;
}

.thumbnail .btn{
	margin-right: 5px;
	margin-bottom: 5px;
}
